.form1{
    font-family: 'Anton', sans-serif;
    font: weight 400px;; 
}
.form2{
    font-family: 'Cabin', sans-serif;
     font-weight: 400;
}
.form3{
    font-family: 'Explora', cursive;
font-weight: 400;
}
.form4{
    font-family: 'Noto Sans Cherokee', sans-serif;
font-weight: 400;
}
.form5{
    font-family: 'Oswald', sans-serif;
font-weight: 400;
}
.form6{
    font-family: 'Playfair Display', serif;
font-weight: 400;
}
.form7{
    font-family: 'PT Sans Narrow', sans-serif;
font-weight: 400;
}
.form8{
    font-family: 'Roboto Mono', monospace;
font-weight: 400;
}
.form9{
    font-family: 'Rowdies', cursive;
font-weight: 400;
}
.form10{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
font-weight: 400;
}